<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>state</key>
		<string>五华区</string>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>安康园
</string>
					<string>彩信园</string>
					<string>红云小区</string>
					<string>金域蓝湾</string>
					<string>文明花园</string>
					<string>远洋风景</string>
				</array>
				<key>street</key>
				<string>红云街道</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>无</string>
				</array>
				<key>street</key>
				<string>大观街道
大观街道
</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>无</string>
				</array>
				<key>street</key>
				<string>丰宁街道</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>无</string>
				</array>
				<key>street</key>
				<string>黑林铺街道</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>无</string>
				</array>
				<key>street</key>
				<string>华山街道</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>无</string>
				</array>
				<key>street</key>
				<string>护国街道</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>无</string>
				</array>
				<key>street</key>
				<string>莲华街道</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>无</string>
				</array>
				<key>street</key>
				<string>龙翔街道</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>无</string>
				</array>
				<key>street</key>
				<string>普吉街道</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>无</string>
				</array>
				<key>street</key>
				<string>西翥街道</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
